html {
    height: 100%;
}

body {
    background: rgb(103, 41, 145);
    background: linear-gradient(180deg, rgba(103, 41, 145, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(41, 110, 40, 1) 100%);
    background-repeat: no-repeat;
    text-align: center;
}