html {
    height: 100%;
}

body {
    background: rgb(103, 41, 145);
    background: linear-gradient(180deg, rgba(103, 41, 145, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(41, 110, 40, 1) 100%);
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.card-header {
    background-color: rgba(255, 255, 255, 0.25);
    padding: 2rem;
    ;
}

.card-body {
    padding: 2rem;
}

.card {
    margin: 2rem auto 0rem;
    background-color: rgba(255, 255, 255, 0.5);
}

.container {
    min-height: 95vh;
    display: flex;
    align-items: center;
}

.card-text {
    font-size: 1.5rem;
}